/**********HEADER**********/

h1{

}

footer>ul>.listFooter{
  list-style-type: none;
}

footer>p{
  text-align: center;
}

#lienNav>li>a{
  font-size: 2em;
}

#boncoin, #gomuscu{
  width: 100%;
}

main{
  height: 100%;
}

/***********Page Web********/

h4{
  text-align: center;
}
