/**********HEADER**********/

.titre{
  font-size: 100%;
}

footer>ul>.listFooter{
  list-style-type: none;
}

footer>p{
  text-align: center;
}

#lienNav>li>a{
  font-size: 1.2em;
}

main{
  height: 100%;
}

/***********Page Web********/

h4{
  text-align: center;
}
